body {
  background-color: #fafafa;
}

.company-manage-job .content {
  max-width: 1000px;
  margin: auto;
  background: white;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-left: 350px;
}

.welcome-title,
.manage-jobs-title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.manage-jobs-title {
  font-size: 24px;
  font-weight: bold;
  margin-left: 145px;
}

.create-job-button {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-left: auto;
  width: 110px;
  text-align: center;
}

.line {
  display: block;
  text-align: left;
}

.create-job-button:hover {
  background-color: #45a049;
}

.create-job-button .line {
  display: block;
  text-align: center;
}

.job-list {
  width: 100%;
  margin-top: 30px;
}

.job-item {
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #ffd4fa;
}

td,
th {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.job-item.even {
  background-color: #cfe9ff;
}

.job-item.odd {
  background-color: #cfdeff;
}

.job-item:hover {
  background-color: #e6f7ff;
}

.manage-jobs-title {
  margin-top: 20px;
  font-weight: bold;
}

.action-buttons {
  display: inline-flex;
}

.edit-button,
.resolved-button,
.view-button {
  margin: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  width: auto;
  text-align: center;
}

.edit-button {
  background-color: #4caf50;
  color: white;
}

.resolved-button {
  background-color: #f44336;
  color: white;
}

.view-button {
  background-color: #2196f3;
  color: white;
}

.view-recruitment {
  background-color: #4caf50;
  color: white;
}

.view-resolved {
  background-color: #2196f3;
  color: white;
}

.view-resolved:hover {
  background-color: #2196f3;
}
